/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
body {
  font-family: "PT Sans", sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 20px;
}

.container {
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 0 2px #cccccc;
}

.columns-container {
  padding: 10px;
  background: #ecf0f1;
  border: 2px solid #34495e;
}

.column {
  width: 150px;
  min-height: 100px;
  padding: 10px;
  color: white;
  background: #3498db;
  border: 2px solid #34495e;
}

.column1 {
  float: left;
}

.column2 {
  float: right;
}

.clearfix {
  height: 0px;
  clear: both;
  background: #e74c3c;
}

input[type = "text"]{
  background-color: antiquewhite;
  border-radius: 5px;
  border: 2px solid blue;
}

input:focus {
  border-color: #0088cc;
}


p:hover{
  color: #e74c3c;
}

#app a:visited {
  color: chartreuse;
}

#form-first{
  margin-left: 200px;
  width: 260px;
  height: 150px;
  background-color: beige;
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing:border-box;
}

#app {
  padding: 50px 50px 50px 60px;
}

#app em{
  padding-left: 10px;
  color: red;
}

.block{
  margin-bottom: 50px;
  height: 100px;
  width: 100px;
  background-color: #34495e;
}

.red{
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
}

.green{

  background-color: green;
}
